#
#	Expired image file deletion. Once a day cleanup
#
#       This file needs to be on /etc/systemd/system/
#

[Unit]
Description=Schedule image file cleanup

[Timer]
Unit=expiry.service
OnBootSec=15min
OnUnitActiveSec=1d


[Install]
WantedBy=timers.target
